In [25]:
!pip install pandas matplotlib seaborn

Requirement already satisfied: pandas in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (3.0.0)
Requirement already satisfied: matplotlib in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (3.10.8)
Requirement already satisfied: seaborn in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [26]:
import pandas as pd

df = pd.read_csv('customer_shopping_behavior_kaggle.csv')

In [27]:
df.head()

,customerid,age,gender,itempurchased,category,purchaseamount,location,size,color,season,reviewrating,subscriptionstatus,shippingtype,discountapplied,promocodeused,previouspurchases,paymentmethod,frequencyofpurchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [28]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            3900 non-null   int64
 1   age                   3900 non-null   int64
 2   gender                3900 non-null   str
 3   itempurchased         3900 non-null   str
 4   category              3900 non-null   str
 5   purchaseamount        3900 non-null   int64
 6   location              3900 non-null   str
 7   size                  3900 non-null   str
 8   color                 3900 non-null   str
 9   season                3900 non-null   str
 10  reviewrating          3863 non-null   float64
 11  subscriptionstatus    3900 non-null   str
 12  shippingtype          3900 non-null   str
 13  discountapplied       3900 non-null   str
 14  promocodeused         3900 non-null   str
 15  previouspurchases     3900 non-null   int64
 16  paymentmethod         3900 non-null   str
 17  frequencyofpurchases  3900 non-null   str
dtypes: float64(1), int64(4), str(13)
memory usage: 548.6 KB

In [29]:
df.describe(include='all')

,customerid,age,gender,itempurchased,category,purchaseamount,location,size,color,season,reviewrating,subscriptionstatus,shippingtype,discountapplied,promocodeused,previouspurchases,paymentmethod,frequencyofpurchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [30]:
df.isnull().sum()

customerid               0
age                      0
gender                   0
itempurchased            0
category                 0
purchaseamount           0
location                 0
size                     0
color                    0
season                   0
reviewrating            37
subscriptionstatus       0
shippingtype             0
discountapplied          0
promocodeused            0
previouspurchases        0
paymentmethod            0
frequencyofpurchases     0
dtype: int64

In [31]:
df['reviewrating'] = df.groupby('category')['reviewrating'].transform(lambda x: x.fillna(x.median()))

In [32]:
df.isnull().sum()

customerid              0
age                     0
gender                  0
itempurchased           0
category                0
purchaseamount          0
location                0
size                    0
color                   0
season                  0
reviewrating            0
subscriptionstatus      0
shippingtype            0
discountapplied         0
promocodeused           0
previouspurchases       0
paymentmethod           0
frequencyofpurchases    0
dtype: int64

In [33]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [34]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamount', 'location', 'size', 'color', 'season', 'reviewrating',
       'subscriptionstatus', 'shippingtype', 'discountapplied',
       'promocodeused', 'previouspurchases', 'paymentmethod',
       'frequencyofpurchases'],
      dtype='str')

In [35]:
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['agegroup'] = pd.qcut(df['age'], q=4, labels = labels)

In [36]:
df[['age','agegroup']].head(10)

   age     agegroup
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [37]:
frequencymapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchasefrequencydays'] = df['frequencyofpurchases'].map(frequencymapping)

In [38]:
df[['purchasefrequencydays','frequencyofpurchases']].head(10)

   purchasefrequencydays frequencyofpurchases
0                     14          Fortnightly
1                     14          Fortnightly
2                      7               Weekly
3                      7               Weekly
4                    365             Annually
5                      7               Weekly
6                     90            Quarterly
7                      7               Weekly
8                    365             Annually
9                     90            Quarterly

In [39]:
df[['discountapplied','promocodeused']].head(10)

  discountapplied promocodeused
0             Yes           Yes
1             Yes           Yes
2             Yes           Yes
3             Yes           Yes
4             Yes           Yes
5             Yes           Yes
6             Yes           Yes
7             Yes           Yes
8             Yes           Yes
9             Yes           Yes

In [40]:
(df['discountapplied'] == df['promocodeused']).all()

np.True_

In [42]:
df = df.drop('promocodeused', axis=1)

In [43]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamount', 'location', 'size', 'color', 'season', 'reviewrating',
       'subscriptionstatus', 'shippingtype', 'discountapplied',
       'previouspurchases', 'paymentmethod', 'frequencyofpurchases',
       'agegroup', 'purchasefrequencydays'],
      dtype='str')

In [47]:
## MySQL Connection

In [1]:
!pip install pymysql sqlalchemy

Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.46-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.3.1-cp312-cp312-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\onedrive\desktop\da offline\project\customer insights data analysis\python_data_cleaning\.venv\lib\site-packages (from sqlalchemy) (4.15.0)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Using cached sqlalchemy-2.0.46-cp312-cp312-win_amd64.whl (2.1 MB)
Using cached greenlet-3.3.1-cp312-cp312-win_amd64.whl (227 kB)
Installing collected packages: pymysql, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [pymysql]
   ---------------------------------------- 0/3 [pymysql]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.1 pymysql-1.1.2 sqlalchemy-2.0.46

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Load CSV
df = pd.read_csv("customer_shopping_behavior_kaggle.csv")

# Encode password
raw_password = "99@Appu4830"
password = quote_plus(raw_password)

# MySQL connection
engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/customer_shopping_behavior_kaggle"
)

# Write to MySQL
df.to_sql("customerdata", engine, if_exists="replace", index=False)

# Verify
print(pd.read_sql("SELECT * FROM customerdata LIMIT 5;", engine))

   customerid  age gender itempurchased  category  purchaseamount  \
0           1   55   Male        Blouse  Clothing              53
1           2   19   Male       Sweater  Clothing              64
2           3   50   Male         Jeans  Clothing              73
3           4   21   Male       Sandals  Footwear              90
4           5   45   Male        Blouse  Clothing              49

        location size      color  season  reviewrating subscriptionstatus  \
0       Kentucky    L       Gray  Winter           3.1                Yes
1          Maine    L     Maroon  Winter           3.1                Yes
2  Massachusetts    S     Maroon  Spring           3.1                Yes
3   Rhode Island    M     Maroon  Spring           3.5                Yes
4         Oregon    M  Turquoise  Spring           2.7                Yes

    shippingtype discountapplied promocodeused  previouspurchases  \
0        Express             Yes           Yes                 14
1        Express             Yes           Yes                  2
2  Free Shipping             Yes           Yes                 23
3   Next Day Air             Yes           Yes                 49
4  Free Shipping             Yes           Yes                 31

  paymentmethod frequencyofpurchases
0         Venmo          Fortnightly
1          Cash          Fortnightly
2   Credit Card               Weekly
3        PayPal               Weekly
4        PayPal             Annually